pygame
ipython
numpy
matplotlib
--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
tensorflow
pandas

# Added for NE module (Stable-Baselines3 DQN + env tooling)
stable-baselines3
stable_baselines3
gym
huggingface-hub

